{
    "application": "<Name of your deployed application>",
    "password": "<Password of your deployed application>",
    "database_url": "<Fully qualified database URL>",
    "database_debug": false,
    "server": "<Base URL to the MateBot backend server>",
    "ssl_verify": true,
    "ca_path": "<Optional path to a CA file for TLS connections to the API server; empty string for system CA>",
    "user_agent": "<Optional specific user agent string used to query the API server; empty string for default>",
    "token": "<Telegram bot token>",
    "workers": 1,
    "currency": {
        "digits": 2,
        "factor": 100,
        "symbol": "€"
    },
    "callback": {
        "enabled": false,
        "public_url": "<Public base URL of the callback server (reachable by the API server)>",
        "address": "<Address the callback server should bind to, e.g. '0.0.0.0'>",
        "port": 8080,
        "shared_secret": "<Required shared secret for HTTP Bearer Auth to the callback server by the API server>"
    },
    "auto_forward": {
        "communism": [],
        "poll": [],
        "refund": []
    },
    "chats": {
        "transactions": [],
        "notification": [],
        "stacktrace": [],
        "debugging": []
    },
    "logging": {
        "version": 1,
        "disable_existing_loggers": true,
        "incremental": false,
        "formatters": {
            "console": {
                "style": "{",
                "class": "logging.Formatter",
                "format": "{asctime}: MateBot {process}: [{levelname}] {name}: {message}",
                "datefmt": "%d.%m.%Y %H:%M"
            },
            "file": {
                "style": "{",
                "class": "logging.Formatter",
                "format": "matebot {process}: [{levelname}] {name}: {message}",
                "datefmt": "%d.%m.%Y %H:%M"
            }
        },
        "handlers": {
            "console": {
                "level": "DEBUG",
                "class": "logging.StreamHandler",
                "formatter": "console",
                "stream": "ext://sys.stdout"
            },
            "file": {
                "level": "DEBUG",
                "class": "logging.handlers.WatchedFileHandler",
                "formatter": "file",
                "filename": "matebot_telegram.log",
                "encoding": "UTF-8"
            }
        },
        "loggers": {
            "telegram.bot": {
                "level": "INFO"
            },
            "urllib3": {
                "level": "INFO"
            },
            "sqlalchemy.engine.Engine": {
                "level": "WARNING"
            },
            "apscheduler": {
                "level": "WARNING"
            }
        },
        "root": {
            "handlers": ["console", "file"],
            "level": "DEBUG"
        }
    }
}
