{
	"application": "<Name of your deployed application>",
	"password": "<Password of your deployed application>",
	"ca-path": "<Optional path to a CA file for TLS connections>",
	"server": "<Base URL to the MateBot backend server>",
	"callback-url": "<Optional base URL of the callback server>",
	"callback-username": "<Optional username for HTTP Basic Auth to the callback server>",
	"callback-password": "<Optional password for HTTP Basic Auth to the callback server>",
	"token": "<Telegram bot token>",
	"adjust-stock": true,
	"respect-stock": true,
	"chats": {
		"transactions": [],
		"notification": [],
		"stacktrace": [],
		"debugging": []
	},
	"logging": {
		"version": 1,
		"disable_existing_loggers": true,
		"incremental": false,
		"formatters": {
			"console": {
				"style": "{",
				"class": "logging.Formatter",
				"format": "{asctime}: MateBot {process}: [{levelname}] {name}: {message}",
				"datefmt": "%d.%m.%Y %H:%M"
			},
			"file": {
				"style": "{",
				"class": "logging.Formatter",
				"format": "matebot {process}: [{levelname}] {name}: {message}",
				"datefmt": "%d.%m.%Y %H:%M"
			}
		},
		"handlers": {
			"console": {
				"level": "DEBUG",
				"class": "logging.StreamHandler",
				"formatter": "console",
				"stream": "ext://sys.stdout"
			},
			"file": {
				"level": "DEBUG",
				"class": "logging.handlers.WatchedFileHandler",
				"formatter": "file",
				"filename": "matebot_telegram.log",
				"encoding": "UTF-8"
			}
		},
		"loggers": {
			"collectives": {},
			"commands": {},
			"config": {},
			"database": {},
			"error": {},
			"state": {}
		},
		"root": {
			"handlers": ["console", "file"],
			"level": "DEBUG"
		}
	}
}
